<div>
  <h3>TODO list</h3>
  <table class="listbox">
    <% for t in @todos %>
      <%= content_tag_for(:tr, t) do %>
        <td><%= t.deadline %></td>
        <td><%= t.todo %></td>
      <% end %>
    <% end %>
  </table>
</div>
