/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#page {
  width: 800px;
}

#header {
  background-color: #82CA9D;
  height: 100px;
}

#menu {
  background-color: #A2D39C;
  height: 600px;
  width: 24%;
  float: right;
}

#main {
  height: 600px;
  width: 76%;
  float: left;
}

#footer {
  background-color: #C4DF9B;
  height: 100px;
  clear: both;
  text-align: center;
}
